<section
  class="min-h-screen bg-slate-900 flex items-center justify-center text-center px-6">

  <div>

    <p class="text-sky-400 mb-4">
      👋 Hello, I'm
    </p>

    <h1 class="text-6xl md:text-7xl font-extrabold text-white mb-6">
      Waliyuddin
    </h1>

    <h2 class="text-3xl text-slate-300 mb-8">
      Java Backend Developer
    </h2>

    <p class="text-slate-400 max-w-2xl mx-auto leading-8 text-lg">
      Building scalable backend applications using Java,
      Spring Boot, REST APIs, SQL, Docker and cloud technologies.
    </p>

    <div class="mt-10 flex justify-center gap-4">

      <button
        class="bg-sky-500 hover:bg-sky-600 text-white px-8 py-3 rounded-lg font-semibold transition">

        View Projects

      </button>

      <button
        class="border border-slate-600 hover:border-slate-400 text-white px-8 py-3 rounded-lg transition">

        Download Resume

      </button>

    </div>

  </div>

</section>